header{
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 2.0rem;
        color: black;
        text-align: center;
        letter-spacing: 3px;
        justify-content: center;
        margin-bottom: 1rem;
        }
    .bodyImagen3{
        padding: 180px;
        background-image: url(../assets/img/headerindex.png);
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    nav{
        .navBarList{
            display:flex;
            align-items: center; 
            justify-content: center;
            gap: 120px;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 24;
            margin-top: 1rem;
            margin-bottom: 1rem;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color:$color-hover;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
